section#footer {
  background: var(--dark-blue);
  color: black;
  background: -webkit-linear-gradient(to right, #ffefba, #ffffff) !important ;
  background: linear-gradient(to right, #ffefba, #ffffff) !important ;
}
